$midnight-green: #014E56;
$light-coral: #F67E7E;
$white-color: #FFFFFF;
$rapture-blue:#79C8C7;
$police-blue:#2C6269;
$deep-jungle-green:#004047;
$sacramento-state-green: #012F34;
$dark-green: #002529;

$main-font: "Livvic", sans-serif;

$h1-fs-lg: 10rem;
$h1-lh-lg: 1;

$h1-fs-sm:6.4rem;
$h1-lh-sm: 0.875;

$h2-fs: 4.8rem;
$h2-lh: 1;

$h3-fs: 1.8rem;
$h3-lh: 1.6;

$body-fs-lg: 1.8rem;
$body-lh-lg: 1.6;

$body-fs-sm:  1.5rem;
$body-lh-sm:  1.7;